.DS_Store
.idea/
.vscode/
*.log

backend/vendor/
backend/node_modules/
backend/.env
backend/.tunnel-url
backend/storage/cloudflared.log
backend/storage/*.key
backend/public/storage
backend/database/database.sqlite

mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/ios/Pods/
mobile/android/.gradle/
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
